body{
   margin: 0; 
   padding: 0;
}
.smily{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    background-color: #fffb53;
    border-radius: 50%;
    border: 5px solid #442200;
}

.eyes::after,.eyes::before{
    content: "";
    position: absolute;
    top:30% ;
    width: 25px;
    height: 25px;
    background-color: #442200;border-radius: 50%;
    transition: 0.5s;
}
.eyes::after{
    right: 25%;
}
.eyes::before{
    left: 25%;
}
.smily:hover .eyes::after,.smily:hover .eyes::before{
    width: 30px;
    height: 45px;
}
.lips{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 6px solid transparent;
    border-radius: 0;
    border-bottom: 10px solid #442200;
    transition: s;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.smily:hover .lips{
    width: 130px;
    border-radius: 50%;
}
