* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.intro {
    list-style: none;
    background: rgb(99, 96, 96);
    height: 90vh;
    width: 20vw;
    padding: 30px;
    line-height: 60px;
    font-family: sans-serif;
}

.intro li a {
    text-decoration: none;
    color: rgb(241, 236, 231);

}

.main {
    background-color: white;
    width: 90vw;
}

.myself {
    background: rgb(219, 98, 98);
    height: 16rem;
    margin: 77px;
    padding: 94px;
}

.divinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 75px;
    font-family: 'Arbutus';
}

.name {
    font-size: 45px;
    font-family: 'Antic Didone';
}

.profe {
    font-size: 30px;
    font-family: 'ABeeZee';

}

button {
    font-weight: bold;
    font-size: 14px;
    background: skyblue;
    border: 1px solid skyblue;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    top: 30px;
    gap: 30px;
}

button:hover {
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

.icon {
    display: flex;
    color: white;
    gap: 220px;
}